
[submodule "taffy/submodules/sonLib"]
	path = taffy/submodules/sonLib
	url = https://github.com/ComparativeGenomicsToolkit/sonLib
[submodule "taffy/submodules/abPOA"]
	path = taffy/submodules/abPOA
	url = https://github.com/yangao07/abPOA.git
[submodule "taffy/submodules/ONEcode"]
	path = taffy/submodules/ONEcode
	url = https://github.com/glennhickey/ONEcode
[submodule "taffy/submodules/libBigWig"]
	path = taffy/submodules/libBigWig
	url = https://github.com/glennhickey/libBigWig
	branch = tui-hacks
