
[submodule "taffy/submodules/sonLib"]
	path = taffy/submodules/sonLib
	url = https://github.com/ComparativeGenomicsToolkit/sonLib
[submodule "taffy/submodules/abPOA"]
	path = taffy/submodules/abPOA
	url = https://github.com/yangao07/abPOA.git
[submodule "taffy/submodules/base64"]
	path = taffy/submodules/base64
	url = https://github.com/zhicheng/base64.git
